
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500";
//@import "/home/santy01/portafolio/node_modules/bootstrap/scss/bootstrap";

/** COLORS **/

$Cinder: #171721;
$White: #fff;
$Selective_Yellow: #ffbb00;
$Background_down_menu:#ffffff1a;

/** BODY */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto',sans-serif;
}
   
body{
  height: 100vh;
  background-color: $Cinder;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: $White;
  font-size: 1rem;
}

a:hover{
  color:$Selective_Yellow;
}

header{
  position: relative;
  padding: 0 2rem;
}

/* Estilos generales para barra nav */

.navbar{
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a{
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn{
  color: $White;
  font-size: 1.5rem ;
  cursor: pointer;
  display: none;
}

.action_btn{
  background-color: $Selective_Yellow;
  color: $White;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action_btn:hover{
  scale: 1.05;
  color: $White;
}

.action_btn:active{
  scale: 0.95;
}



/*  Dropdown menu */
.dropdown_menu{
  display: none;
  position: absolute;
  right: 2rem;
  top:60px;
  height: 0;
  width: 300px;
  background: $Background_down_menu;
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
  height: 240px;
}

.dropdown_menu li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn{
  width: 100%;
  display: flex;
  justify-content: center;
}


/** MOBILE */
@media (max-width: 992px) {
  .navbar .links,
  .navbar .action_btn{
    display: none;
  }

  .navbar .toggle_btn{
    display: block;
  }

  .dropdown_menu{
    display: block;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 50px;
    padding-right: 55px;
  }
  
  .container img {
    max-width: 100%; 
  }
}

@media (max-width: 576px) {
.dropdown_menu{
  left: 2rem;
  width: unset;
}
}

/*  Home */
section#home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $White;
}

#home h1{
  font-size: 5rem;
  margin-bottom: 1rem;
}