
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');
//@import "/home/santy01/portafolio/node_modules/bootstrap/scss/bootstrap";

/** COLORS **/

$Cinder: #171721;
$Cinder_white: #2b2b36;
$White: #fff;
$textdescription:#a7a7a7;
$Selective_Yellow: #ffc014;
$Background_down_menu:#ffffff1a;

/** BODY */

*{
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
} 

body{
  height: 100vh;
  background-color: $Cinder;
  padding: 2em 1em;
  margin: 0 auto;
  max-width: 80em;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: $White;
  font-size: 1rem;
}

a:hover{
  color:$Selective_Yellow;
}

header{
  position: relative;
  padding: 0 2rem;
}

/* Estilos generales para barra nav */

.navbar{
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn{
  color: $White;
  font-size: 1.5rem ;
  cursor: pointer;
  display: none;
}

/*  PROFILE */
.container_profile {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  gap: 50px;
  height: 70vh;
  padding: 0 2rem;
  margin-top: 80px;
}

.container_profile img {
  margin-top: 40px;
  margin-bottom: 20px;
  max-width: 40%; 
}

.container_profile h1{
  color: $White;
  text-align: start;
  font-size: 80px;
}

/* Buttons */
.action_btn_menu{
  background-color: $Selective_Yellow;
  color: $White;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action_btn_menu:hover{
  scale: 1.05;
  color: $White;
}

.action_btn_menu:active{
  scale: 0.95;
}

.action_btn_index_fill{
  background-color: $Selective_Yellow;
  color: $Cinder;
  padding: 0.8rem 1rem;
  border: none;
  outline: none;
  width: 150px;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.5 ease;
}
.action_btn_index_out{
  background-color: $Cinder;
  color: $White;
  padding: 0.8rem 1rem;
  border-color: $Selective_Yellow;
  outline: none;
  width: 150px;
  border-radius: 10px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.5 ease;
  margin-right: 20px;
}

.action_btn_index_out:hover{
  scale: 1.05;
  color: $White;
}
.action_btn_index_fill:hover{
  scale: 1.05;
  color: $White;
}

.action_btn_index_fill:active{
  scale: 0.95;
}
.action_btn_index_out:active{
  scale: 0.95;
}

/*  Dropdown menu */
.dropdown_menu{
  display: none;
  position: absolute;
  right: 2rem;
  top:60px;
  height: 0;
  width: 300px;
  background: $Background_down_menu;
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
  height: 240px;
}

.dropdown_menu li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn_menu{
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Text Styles */

h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
  font-size: 26px;
}

p {
  text-align: justify;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  line-height: 2;
}

#iam{
  text-align: center;
}

/* Container About me*/
.container_btn_aboutme{
  display: flex;
  justify-content:center;
  margin-top: 40px;
  margin-bottom: 20px;
}

/* Skills */
.container_skills{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin:40px 100px;
  gap: 20px;
}

.container_skills .card_skill{
  width: 160px;
  height: 190px;
  border-radius: 14px;
  background: $Cinder_white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_skills .card_skill .percent{
  position: relative;
  width: 150px;
  height: 150px;
}

.container_skills .card_skill .percent svg{
  position: relative;
  width: 150px;
  height: 150px;
  transform: rotate(270deg);
}

.container_skills .card_skill .percent svg circle{
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 2;
  stroke: $Cinder;
  transform: translate(5px, 5px);
}

.container_skills .card_skill .percent svg circle:nth-child(2){
  stroke: var(--clr);
  stroke-dasharray: 440;
  stroke-dashoffset: calc(440 - (440 * var(--num)) /100);
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 1.2s;
}

@keyframes fadeIn{
  0%
  {
    opacity: 0;
  }
  100%
  {
    opacity: 1;
  }
  
}

.dot{
  position: absolute;
  inset: 5px;
  z-index: 10;
  transform: rotate(calc(3.6deg * var(--num)));
  animation: animatedDot 1.2s linear forwards;
}

.dot:hover::after{
  animation: animatedDot 1.2s linear forwards;
}


.number_skill{
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  animation: fadeIn 1s linear forwards;
  animation-delay: 1.2s;

}

.number_skill:hover{
  animation: fadeIn 1s linear forwards;
  animation-delay: 1.2s;
}

.number_skill h2{
  display: flex;
  justify-content: center;
  align-items: center;
  color: $White;
  font-weight: 700;
  font-size: 2.5rem;
}

.number_skill h2 span{
  color: $White;
  font-weight: 300;
  font-size: 1rem;
}

.number_skill p{
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  letter-spacing: 2px;
  font-size: 0.7rem;
  text-transform: uppercase;
  color: $White;
}
@keyframes animatedDot {
  0%{
    transform:  rotate(0deg);
  }
  100%{
    transform: rotate(calc(3.6deg * var(--num)));
  }
}
.dot::before{
  content: '';
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--clr);
  box-shadow: 0 0 10px var(--clr),
  0 0 30px var(--clr);
}

/*  HOBBIES */

.container_hobbies{
  display: flex;
  flex-wrap: wrap;
  margin:40px 100px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card_hobbies{
  width: 160px;
  height: 190px;
  border-radius: 14px;
  background: $Cinder_white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.animContainer {
  width: 100px;
  height: 100px;
}

.card-hobbie-title{
  color: $White;
  font-weight: bold;
  margin: 8px;
}

/* CARD SERVICES */
.container_services{
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  justify-content: center;
}
.container_services .card {
  position: relative;
  background-color: $Cinder_white;
  flex-wrap: wrap;
  width: 300px;
  border-radius: 14px;
  border: 1px solid $Cinder;
  padding: 20px;
  margin: 20px;
}


.card .card-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.right-image {
  width: 30px; /* ajusta el ancho de la imagen según tus necesidades */
  height: auto; /* ajusta la altura de la imagen según tus necesidades */
  margin-left: 10px; /* ajusta el margen derecho según tus necesidades */
  margin-top: 10px;
}

.card .card-description {
  font-size: 16px;
  color: $textdescription;
  margin-bottom: 20px;
}

.card .card_img{
  width: 10%;
}
.card .card_img_bottom{
  width: 10%;
  margin: 0 20px 8px 0;
  position: absolute;
  bottom: 0;
  right: 0;
}



/** MOBILE */


@media (max-width: 800px) {
  .navbar .links,
  .navbar .action_btn{
    display: none;
  }

  .navbar .toggle_btn{
    display: block;
  }

  .dropdown_menu{
    display: block;
  }

  .container_profile {
    display: inline-block;
    padding: 0 2rem;
    height: 60vh;
    gap: 0;
    margin-top: 20px;
  }

  
  .container_profile img {
    max-width: 60%;
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 200px;
    
}

  .container_profile h1{
    color: $White;
    font-size: 36px;
    margin-top: 0;
    justify-content:flex-start;
  }


  /* CARD SERVICES */
  .card .card_img{
    width: 14%;
  }
  .card .card_img_bottom{
    width: 8%;
    margin: 0 20px 8px 0;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  /* SKILLS */
  .container_skills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin:40px auto;
    gap: 20px;
  }

  
}

@media (max-width: 768px) {

  .container_profile {
    display: inline-block;
    padding: 0 2rem;
    height: 50vh;
    gap: 0;
    margin-top: 20px;
  }
  .container_profile img {
    max-width: 80%;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
  }

  /* SKILLS */

  .container_skills .card_skill{
    width: 90px; /* Ajusta el ancho según tu preferencia */
    height: 110px; /* Ajusta el alto según tu preferencia */
    margin: 10px; /* Espacio entre las cards */
    background-color: $Cinder;
  }

  .container_skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:40px 0;
    gap: 40px;
  }

  /*  HOBBIES */

  .card_hobbies{
    width: 90px;
    height: 110px;
    border-radius: 14px;
    background: $Cinder;
  }

.container_hobbies{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin:40px 0;
  gap: 40px;
}
.animContainer {
  max-width: 80%;
}


    
}

@media (max-width: 576px) {
.dropdown_menu{
  left: 2rem;
  width: unset;
}
}

/*  Home */
section#home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $White;
  padding: 0 2rem;
}
/*  About */
section#about,#skills,#hobbies,#services,#projects{
  color: $White;
  padding: 0 2rem;
  margin-top: 80px;
}


